/* color code */
/* new colour code */
.middle-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }

.middle-attribute-icon {
  width: 2rem; }

.question {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #1B182B;
  border-radius: 50%;
  padding: 0.5rem; }
  .question__icon {
    stroke: #FFFFFF; }

.top {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid black 2px; }

/* left sidebar */
.left-sidebar__header {
  padding: 1.5rem 0rem 1rem 1.5rem;
  border-bottom: solid #d0ccc6 1px; }
  .left-sidebar__header_primary {
    margin: 0rem 0rem 0.2rem 0rem; }
  .left-sidebar__header_secondary {
    margin: 0;
    font-size: 0.9rem; }

.left-sidebar__main-collapsible {
  background-color: #f3ebe2;
  color: #232220;
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: 600; }
  .left-sidebar__main-collapsible::after {
    content: '\002B';
    color: #232220;
    font-weight: bold;
    float: right;
    margin-left: 5px; }

.left-sidebar__main-panel {
  display: none;
  list-style: none; }
  .left-sidebar__main-panel-item {
    padding: 0.5rem;
    color: #232220; }
    .left-sidebar__main-panel-item:last-child {
      font-weight: bold; }

/* heading will be here */
.heading-today {
  color: #232220;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 1.3rem; }

.heading-project {
  color: #232220; }

.view-all {
  color: #F0884E; }

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem; }
  .search__input {
    font-family: inherit;
    background-color: #ffffff;
    border: solid #b39a75 1px;
    border-radius: 100px;
    width: 100%;
    font-size: 0.9rem;
    padding: 0.7rem 2.2rem; }
    .search__input::placeholder {
      color: #9B9B9A; }
  .search__button {
    border: none;
    background-color: transparent;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: 0.5rem; }
    .search__button-icons {
      width: 1.2rem;
      height: 1.2rem;
      stroke: #9B9B9A; }

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card {
  background-color: #fcbda3;
  border-radius: 1.5rem;
  padding: 1rem;
  width: 210px; }
  .card:nth-child(2) {
    background-color: #FCE5BC; }
  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__header-left {
      display: flex;
      align-items: center; }
      .card__header-left-round {
        width: 2rem;
        height: 2rem;
        border-radius: 50%; }
        .card__header-left-round-first {
          background-color: #000000;
          color: white;
          border: solid #FCBDA3; }
        .card__header-left-round-second {
          background-color: #FCE5BC;
          color: #000000;
          border: solid #000000 2px; }
        .card__header-left-round:nth-child(1) {
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center; }
      .card__header-left-img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: solid #FCBDA3; }
        .card__header-left-img-second {
          border: solid #FCE5BC; }
        .card__header-left-img:nth-child(2) {
          z-index: 1;
          margin-left: -1.3rem; }
        .card__header-left-img:nth-child(3) {
          margin-left: -1.3rem;
          z-index: 0; }
    .card__header__dot {
      height: 1.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      margin: 0;
      padding: 0; }
  .card__text-firstcard {
    margin-bottom: 5rem; }
  .card__text-secondcard {
    margin-bottom: 3.2rem; }
  .card__text__heading {
    font-size: 1.5rem; }
  .card__pb-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .card__pb-container-progressbar {
      width: 100%;
      background: #6657572b;
      height: 8px;
      border-radius: 5px; }
      .card__pb-container-progressbar-webdesign {
        background: #000000;
        width: 40%;
        height: 8px;
        border-radius: 5px; }
    .card__pb-container-left {
      align-self: flex-start;
      color: #3a2c26;
      font-size: 0.9rem; }

/* reminder card */
.recard-container {
  width: 100%;
  background-color: #ffffff;
  border: solid 2px;
  border-radius: 1.5rem;
  border-color: #b39a75; }

.recard {
  padding: 2rem 2rem 0rem 2rem;
  display: none; }
  .recard__left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .recard__left-inner {
      flex: 60% 0; }
    .recard__left__sub {
      font-size: 0.9rem; }
    .recard__left__text {
      margin: 0;
      color: #000000; }
  .recard__right__button {
    border: dotted #F0884E 1px;
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: transparent; }

.dot-container {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem; }

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fcbda3; }
  .dot:active {
    background-color: black; }
  .dot:hover {
    background-color: #3a2c26; }

/* right sidebar */
.right-sidebar {
  padding: 2rem 1.5rem 2rem 2rem;
  /* below is header */
  /* below is team */ }
  .right-sidebar__topdot {
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    margin: 1rem 0rem 1rem 0rem; }
    .right-sidebar__topdot-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fcbda3; }
  .right-sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem; }
    .right-sidebar__header__right {
      display: flex;
      gap: 1rem;
      align-items: center; }
    .right-sidebar__header-button {
      background-color: #F0884E;
      border-radius: 2rem;
      color: #ffffff;
      border: none;
      padding: 0.7rem 1.3rem 0.7rem 1.3rem; }
    .right-sidebar__header__notification-icon {
      width: 1.7rem; }
    .right-sidebar__header__user {
      display: flex;
      gap: 0.5rem;
      align-items: center; }
      .right-sidebar__header__user__img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%; }
      .right-sidebar__header__user-top {
        margin: 0;
        margin: 0;
        font-size: 0.7rem;
        color: #777575; }
      .right-sidebar__header__user-name {
        margin: 0;
        font-size: 0.8rem; }
    .right-sidebar__header__last {
      width: 1rem;
      height: 1rem;
      background-color: #F6F2EC;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .right-sidebar__header__last-icon {
        stroke: #F0884E;
        width: 0.7rem; }
  .right-sidebar__team {
    margin-bottom: 2rem; }
    .right-sidebar__team__title {
      margin: 0rem 0rem 0.8rem 0rem; }
    .right-sidebar__team__image {
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .right-sidebar__team__image-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%; }
        .right-sidebar__team__image-img-jr {
          background-color: #FCF2E0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #F0884E; }
      .right-sidebar__team__image-last {
        width: 1.8rem;
        height: 1.8rem;
        background-color: #F6F2EC;
        border-radius: 50%;
        border: dotted 1px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .right-sidebar__team__image-last-icon {
          stroke: #F0884E;
          width: 1.5rem;
          height: 1.5rem; }
  .right-sidebar__counter {
    display: flex;
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin-bottom: 2rem; }
    .right-sidebar__counter__item-title {
      margin: 0;
      font-size: 0.7rem;
      color: #777575; }
    .right-sidebar__counter__item-number {
      margin: 0;
      font-size: 1.1rem; }
  .right-sidebar__dtask__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem; }
    .right-sidebar__dtask__header__title {
      margin: 0; }
    .right-sidebar__dtask__header__edit {
      font-size: 0.9rem;
      color: #F0884E;
      align-items: flex-end; }
  .right-sidebar__dtask__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; }
  .right-sidebar__card {
    height: 7.5rem;
    border-radius: 0.7rem;
    background-color: #F0884E;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    .right-sidebar__card:nth-child(1) {
      background-color: #F6F1EB;
      position: relative; }
    .right-sidebar__card:nth-child(2) {
      background-color: #ffffff;
      position: relative;
      overflow: hidden; }
    .right-sidebar__card:nth-child(3) {
      background-color: #ffffff;
      overflow: hidden;
      position: relative; }
    .right-sidebar__card__top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.2rem;
      padding: 0.5rem; }
      .right-sidebar__card__top__dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #F0884E; }
        .right-sidebar__card__top__dot-second {
          background-color: #FF6161; }
        .right-sidebar__card__top__dot-third {
          background-color: #04CCB4; }
        .right-sidebar__card__top__dot-fourth {
          background-color: #ffffff; }
      .right-sidebar__card__top__text {
        font-size: 0.7rem; }
    .right-sidebar__card__text {
      font-size: 0.9rem;
      margin: 0;
      padding: 0rem 1.2rem 0rem 1.2rem; }
      .right-sidebar__card__text-first {
        padding: 1.2rem; }
    .right-sidebar__card__icon {
      width: 1.2rem;
      position: absolute;
      bottom: 1rem;
      right: 1.2rem; }
    .right-sidebar__card__svg1 {
      position: absolute;
      transform: rotate(342deg);
      bottom: 7px; }
    .right-sidebar__card__svg2 {
      position: absolute;
      right: -20px;
      transform: rotate(348deg);
      bottom: -5px; }
    .right-sidebar__card__rect__first {
      width: 0.8rem;
      height: 2rem;
      background-color: transparent;
      border: #F0884E solid 2px;
      bottom: 1.2rem;
      position: absolute;
      transform: rotate(62deg); }
    .right-sidebar__card__rect__second {
      width: 1rem;
      height: 4rem;
      background-color: transparent;
      border: #F0884E solid 2px;
      transform: rotate(62deg);
      bottom: -1.5rem;
      position: absolute; }
    .right-sidebar__card__rect__third {
      width: 1rem;
      height: 3rem;
      background-color: transparent;
      border: #F0884E solid 2px;
      transform: rotate(62deg);
      bottom: -1.5rem;
      position: absolute;
      right: 6rem;
      bottom: -2rem; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 70px 270px 1fr 1fr; }

.navigation {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem 1.5rem 0rem; }

.left-sidebar {
  background-color: #f3ebe2; }

.main {
  background-color: #ffffff;
  padding: 2rem; }

.right-sidebar {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.card-container {
  display: flex;
  gap: 1rem; }

.reminder-sec {
  margin-top: 1rem; }

.right-sidebar__card input {
  display: none; }

.right-sidebar__card label span {
  height: 10px;
  width: 10px;
  border: 1.5px solid #F0884E;
  display: inline-block;
  position: relative;
  border-radius: 0.2rem; }

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0; }
