/* color code */

$color-white: #ffffff;
$bg-color-primary: #f3f6fd;
$heading-secondary-color: #454545;


/* new colour code */

$left-sidebar-color: #f3ebe2;
$text-color: #232220;
$heading-color-primary: #000000;


$card-first-color: #fcbda3;
$card-second-color: #FCE5BC;

$card-ternary-color: #3a2c26;
$seffron-color: #F0884E;

$card-general-color: #000000;
$card-progressbar-color: #000000;
$card-bar-color: #6657572b;


$reminder-border: #b39a75;
$r-sidebar-text-color: #777575;