/* color code */

$color-white: #ffffff;
$bg-color-primary: #f3f6fd;
$header-heading: #272727;
$heading-primary: #454545;
$heading-secondary-color: #454545;


/* new colour code */

$left-sidebar-color: #f3ebe2;