.middle-container {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.middle-attribute {


    &-icon {
        width: 2rem;
    }
}

.question {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #1B182B;
    border-radius: 50%;
    padding: 0.5rem;

    &__icon {
        stroke: #FFFFFF;
    }
}

.top {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid black 2px;
}

/* left sidebar */

.left-sidebar {

    &__header {
        padding: 1.5rem 0rem 1rem 1.5rem;
        border-bottom: solid #d0ccc6 1px;


        &_primary {
            margin: 0rem 0rem 0.2rem 0rem;
        }

        &_secondary {
            margin: 0;
            font-size: 0.9rem;
        }
    }

    &__main {

        &-collapsible {
            background-color: #f3ebe2;
            color: $text-color;
            cursor: pointer;
            padding: 0.8rem;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1rem;
            font-weight: 600;

            &::after {
                content: '\002B';
                color: $text-color;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }


        }

        &-panel {
            display: none;
            list-style: none;

            &-item {
                padding: 0.5rem;
                color: $text-color;

                &:last-child {
                    font-weight: bold;
                }
            }


        }


    }
}

/* heading will be here */

.heading-today {
    color: $text-color;
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1.3rem;
}

.heading-project {
    color: $text-color;
}

.view-all {
    color: $seffron-color;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    &__input {
        font-family: inherit;
        background-color: #ffffff;
        border: solid #b39a75 1px;
        border-radius: 100px;
        width: 100%;
        font-size: 0.9rem;
        padding: 0.7rem 2.2rem;


        &::placeholder {
            color: #9B9B9A;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        left: 0.5rem;

        &-icons {
            width: 1.2rem;
            height: 1.2rem;
            stroke: #9B9B9A;
        }
    }
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {

    background-color: $card-first-color;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 210px;

    &:nth-child(2) {
        background-color: $card-second-color;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            align-items: center;

            &-round {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                &-first {
                    background-color: $card-progressbar-color;
                    color: white;
                    border: solid #FCBDA3;
                }

                &-second {
                    background-color: $card-second-color;
                    color: $card-general-color;
                    border: solid $card-general-color 2px;
                }

                &:nth-child(1) {
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: solid #FCBDA3;

                &-second {
                    border: solid $card-second-color;
                }

                &:nth-child(2) {
                    z-index: 1;
                    margin-left: -1.3rem;
                }

                &:nth-child(3) {
                    margin-left: -1.3rem;
                    z-index: 0;
                }
            }

        }

        &__dot {
            height: 1.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }

    &__text {

        &-firstcard {
            margin-bottom: 5rem;
        }

        &-secondcard {
            margin-bottom: 3.2rem;
        }

        &__heading {
            font-size: 1.5rem;
        }
    }

    &__pb-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-progressbar {
            width: 100%;
            background: $card-bar-color;
            height: 8px;
            border-radius: 5px;

            &-webdesign {
                background: $card-progressbar-color;
                width: 40%;
                height: 8px;
                border-radius: 5px;
            }
        }

        &-left {
            align-self: flex-start;
            color: $card-ternary-color;
            font-size: 0.9rem;
        }
    }
}


/* reminder card */

.recard-container {
    width: 100%;
    background-color: $color-white;
    border: solid 2px;
    border-radius: 1.5rem;
    border-color: $reminder-border;
}

.recard {
    padding: 2rem 2rem 0rem 2rem;
    display: none;

    &__left {

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-inner {
            flex: 60% 0;
        }

        &__sub {
            font-size: 0.9rem;
        }

        &__text {
            margin: 0;
            color: $heading-color-primary;
        }
    }

    &__right {


        &__button {
            border: dotted $seffron-color 1px;
            border-radius: 2rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            background-color: transparent;
        }
    }
}

.dot-container {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $card-first-color;

    &:active {
        background-color: black;
    }

    &:hover {
        background-color: $card-ternary-color;
    }
}


/* right sidebar */

.right-sidebar {

    padding: 2rem 1.5rem 2rem 2rem;

    &__topdot {
        display: flex;
        justify-content: flex-end;
        gap: 0.3rem;
        margin: 1rem 0rem 1rem 0rem;

        &-dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fcbda3;
        }
    }

    /* below is header */

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.2rem;

        &__right {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        &-button {
            background-color: $seffron-color;
            border-radius: 2rem;
            color: $color-white;
            border: none;
            padding: 0.7rem 1.3rem 0.7rem 1.3rem;
        }

        &__notification {


            &-icon {
                width: 1.7rem;
            }
        }

        &__user {

            display: flex;
            gap: 0.5rem;
            align-items: center;

            &__img {
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
            }

            &-top {
                margin: 0;
                margin: 0;
                font-size: 0.7rem;
                color: $r-sidebar-text-color;
            }

            &-name {
                margin: 0;
                font-size: 0.8rem;
            }
        }

        &__last {
            width: 1rem;
            height: 1rem;
            background-color: #F6F2EC;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon {
                stroke: $seffron-color;
                width: 0.7rem;
            }
        }
    }

    /* below is team */

    &__team {
        margin-bottom: 2rem;

        &__title {
            margin: 0rem 0rem 0.8rem 0rem;
        }

        &__image {

            display: flex;
            align-items: center;
            gap: 0.5rem;

            &-img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;

                &-jr {
                    background-color: #FCF2E0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $seffron-color;
                }
            }

            &-last {
                width: 1.8rem;
                height: 1.8rem;
                background-color: #F6F2EC;
                border-radius: 50%;
                border: dotted 1px;
                display: flex;
                align-items: center;
                justify-content: center;

                &-icon {
                    stroke: $seffron-color;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }

    &__counter {
        display: flex;
        gap: 1.5rem;
        border-radius: 1rem;
        padding: 1.5rem 1rem 1.5rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
        margin-bottom: 2rem;


        &__item {

            &-title {
                margin: 0;
                font-size: 0.7rem;
                color: $r-sidebar-text-color;
            }

            &-number {
                margin: 0;
                font-size: 1.1rem;
            }
        }
    }

    &__dtask {

        &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            &__title {
                margin: 0;
            }

            &__edit {
                font-size: 0.9rem;
                color: $seffron-color;
                align-items: flex-end;
            }
        }

        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }

    &__card {
        height: 7.5rem;
        border-radius: 0.7rem;
        background-color: $seffron-color;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        &:nth-child(1) {
            background-color: #F6F1EB;
            position: relative;

        }

        &:nth-child(2) {
            background-color: $color-white;
            position: relative;
            overflow: hidden;
        }

        &:nth-child(3) {
            background-color: $color-white;
            overflow: hidden;
            position: relative;
        }

        &:nth-child(4) {
            overflow: hidden;
        }

        &__top {

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.2rem;
            padding: 0.5rem;

            &__dot {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: $seffron-color;

                &-second {
                    background-color: #FF6161;
                }

                &-third {
                    background-color: #04CCB4;
                }

                &-fourth {
                    background-color: $color-white;
                }
            }

            &__text {
                font-size: 0.7rem;
            }

            &__check {}

        }



        &__text {
            font-size: 0.9rem;
            margin: 0;
            padding: 0rem 1.2rem 0rem 1.2rem;

            &-first {
                padding: 1.2rem;
            }

            &-fourth {
                color: $color-white;
            }
        }

        &__circle {
            fill: none;
            stroke-dashoffset: 0;
            stroke: $color-white;
        }

        &__icon {
            width: 1.2rem;
            position: absolute;
            bottom: 1rem;
            right: 1.2rem;
        }

        &__svg1 {
            position: absolute;
            transform: rotate(342deg);
            bottom: 7px;
        }

        &__svg2 {
            position: absolute;
            right: -20px;
            transform: rotate(348deg);
            bottom: -5px;
        }


        &__rect {

            &__first {
                width: 0.8rem;
                height: 2rem;
                background-color: transparent;
                border: #F0884E solid 2px;
                bottom: 1.2rem;
                position: absolute;
                transform: rotate(62deg);

            }

            &__second {
                width: 1rem;
                height: 6rem;
                background-color: transparent;
                border: #F0884E solid 2px;
                transform: rotate(62deg);
                bottom: -2.5rem;
                position: absolute;
            }

            &__third {
                width: 1rem;
                height: 3rem;
                background-color: transparent;
                border: #F0884E solid 2px;
                transform: rotate(62deg);
                bottom: -1.5rem;
                position: absolute;
                bottom: -2rem;
                left: 2rem
            }
        }


    }
}