.middle-container {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.middle-attribute {


    &-icon {
        width: 2rem;
    }
}

.question {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #1B182B;
    border-radius: 50%;
    padding: 0.5rem;

    &__icon {
        stroke: #FFFFFF;
    }
}

.top {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid black 2px;
}

/* left sidebar */

.left-sidebar {

    &__header {
        padding: 1.5rem 0rem 1rem 1.5rem;
        border-bottom: solid #d0ccc6 1px;


        &_primary {
            margin: 0rem 0rem 0.2rem 0rem;
        }

        &_secondary {
            margin: 0;
            font-size: 0.9rem;
        }
    }

    &__main {

        &-collapsible {
            background-color: #f3ebe2;
            color: $text-color;
            cursor: pointer;
            padding: 0.8rem;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1rem;
            font-weight: 600;

            &::after {
                content: '\002B';
                color: $text-color;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }


        }

        &-panel {
            display: none;
            list-style: none;

            &-item {
                padding: 0.5rem;
                color: $text-color;

                &:last-child {
                    font-weight: bold;
                }
            }


        }


    }
}

/* heading will be here */

.heading-today {
    color: $text-color;
    margin: 0rem 0rem 1rem 0rem;
    font-size: 1.3rem;
}

.heading-project {
    color: $text-color;
}

.view-all {
    color: $seffron-color;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        background-color: #ffffff;
        border: solid #b39a75 1px;
        border-radius: 100px;
        width: 100%;
        font-size: 0.9rem;
        padding: 0.7rem 2.2rem;


        &::placeholder {
            color: #9B9B9A;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        left: 0.5rem;

        &-icons {
            width: 1.2rem;
            height: 1.2rem;
            stroke: #9B9B9A;
        }
    }
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {

    background-color: $card-first-color;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 210px;

    &:nth-child(2) {
        background-color: $card-second-color;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            align-items: center;

            &-round {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                &-first {
                    background-color: $card-progressbar-color;
                    color: white;
                    border: solid #FCBDA3;
                }

                &-second {
                    background-color: $card-second-color;
                    color: $card-general-color;
                    border: solid $card-general-color 2px;
                }

                &:nth-child(1) {
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: solid #FCBDA3;

                &-second {
                    border: solid $card-second-color;
                }

                &:nth-child(2) {
                    z-index: 1;
                    margin-left: -1.3rem;
                }

                &:nth-child(3) {
                    margin-left: -1.3rem;
                    z-index: 0;
                }
            }

        }

        &__dot {
            height: 1.4rem;
            font-size: 1.4rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
    }

    &__text {

        &-firstcard {
            margin-bottom: 5rem;
        }

        &-secondcard {
            margin-bottom: 3.2rem;
        }

        &__heading {
            font-size: 1.5rem;
        }
    }

    &__pb-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-progressbar {
            width: 100%;
            background: $card-bar-color;
            height: 8px;
            border-radius: 5px;

            &-webdesign {
                background: $card-progressbar-color;
                width: 40%;
                height: 8px;
                border-radius: 5px;
            }
        }

        &-left {
            align-self: flex-start;
            color: $card-ternary-color;
            font-size: 0.9rem;
        }
    }
}