@import "base";
@import "components";


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 70px 270px 1fr 1fr;
}

.navigation {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.left-sidebar {
    background-color: $left-sidebar-color;
}

.main {
    background-color: $color-white;
    padding: 2rem;
}

.right-sidebar {
    background-color: $color-white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.reminder-sec {
    margin-top: 1rem;
}

.right-sidebar__card input {
    display: none; 
}


  .right-sidebar__card label span {
    height: 10px;
    width: 10px;
    border: 1.5px solid $seffron-color;
    display: inline-block;
    position: relative;
    border-radius: 0.2rem;
  }

  [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
  }