body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 315px 1fr;
    height: 100vh;
}

.toppart {
    grid-column: 1/3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/samuel-ferrara-1527pjeb6jg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-sidebar {
    background-color: #f1f1f0;
    border-right: solid 1.5px #C1C1C1;
    padding-top: 2.5rem;
}

.main-area {
    background-color: #f1f1f0;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card-item {
    display: flex;
    background-color: white;
    gap: 1rem;
    border-radius: 0.5rem;
}

.customer {
    display: flex;
    align-items: center;
}

.customer-ig {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 2px solid white;
    margin-right: -0.8rem;
}

.diff {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin-right: -1rem;
    background-image: linear-gradient(#18d39ea1, #18d39e31), url("./img/customer-4.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rnumber {
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}

.card-text {
    color: #363C4F;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.big-number {
    font-size: 3rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.card-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.card-left {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    position: relative;
}


.main-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-area-second {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.mslt-container {
    display: flex;
}

.mslt-attribute {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #555;
}

.main-area-second-left {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.mslt-container img {
    border-radius: 0.3rem;
}

.mslt-container {
    background-color: white;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.mslt-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mslt-right-txt {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #3b3b3c;
    font-weight: 500;
}

.main-area-second-right {
    background-color: white;
    border-radius: 0.5rem;
}

.msrt-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.msrt-desc {
    margin-bottom: 0.5rem;
    color: #868686;
}

.time {
    color: #868686;
    font-size: 14px;
}

.header-txt {
    border-bottom: solid 1px #868686;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-txt h3 {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
}

.mslt-container {
    position: relative;
}

.paybtn {
    background-color: #ffa429;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.2rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
}

.paybtn:hover {
    background-color: #18d39e;
}

.lst-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}

.left-ctr {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.left-sidebar-container {
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.left-ctr-img-container {
    display: flex;
    gap: 0.7rem;
}


.left-ctr-txt {
    text-transform: uppercase;
    color: #868686;
    font-size: 1rem;
    font-weight: normal;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

.toppart .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
}

.header-left-part {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.header-icon {
    color: white;
}

.header-left-part h3 {
    color: white;
    text-transform: capitalize;
}

.help-btn {
    background-color: rgba(252, 252, 252, 0.2);
    border: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    cursor: pointer;
}

.header-small-img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
}

.header-right-part {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-icon[name="notifications-outline"] {
    width: 1.7rem;
    height: 1.7rem;
}

.toppart-second {
    padding-left: 3rem;
    padding-right: 3rem;
}

.toppart-second-left {
    display: flex;
    gap: 1.5rem;
}

.toppart-sec-text {
    color: white;
}

.main-area-nav-element {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1rem;
    color: #363C4F;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}


.main-area-nav-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*   padding: 1.2rem; */
    border-bottom: solid 1px #868686;
}

.main-area-nav-part-attribute {
    padding: 1rem 0.7rem 1rem 0.7rem;
    cursor: pointer;
}

.main-area-nav-part-attribute:nth-child(1) {
    border-bottom: solid #ffa42a 2px;
    color: black;
}

.claim-btn {
    background-color: #18d39e;
    border: none;
    color: white;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.claim-btn:hover {
    background-color: #ffa42a;
}

.main-area-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;

}

.toppart-second-img {
    z-index: 1;
}

.toppart-second-img img {
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.toppart-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.name-title {
    margin-bottom: 0rem;
    font-family: sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

/* new css*/

.track {
    fill: none;
    stroke-dashoffset: 0;
    stroke: #859399;
    stroke-width: 5;
}

.progress {
    fill: none;
    stroke: rgb(59, 56, 56);
    stroke-width: 5;
    stroke-dasharray: 375;
    stroke-dashoffset: calc(375 - (375*75) / 100);
    stroke: #ffa42a;
    stroke-linecap: round;
}

.inner {
    fill: #859399;
}

.scontainer {
    width: 150px;
    position: relative;
}

.progress-txt {
    position: absolute;
    top: 25%;
    transform: translate(-50%, 0);
    left: 50%;
    color: white;
}

.profile-pct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.toppart-second-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 3rem;
}

.toppart-second-right-container {
    display: flex;
    background-color: rgb(105 122 129 / 68%);
    padding: 1rem;
    opacity: 0.8;
    border-radius: 0.5rem;
}

.profile-title {
    margin-bottom: 0rem;
}

.profile-btn {
    background-color: #ffa42a;
    border: none;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
}

.profile-subtitle {
    margin-top: 0.3rem !important;
}

.profilecard {
    color: white;
}

.titlemargin {
    margin-bottom: 0.2rem;
    margin-top: 0rem;
    font-size: 0.8rem;
}

.aboutme {
    gap: 1rem;
}

.left-ctr-desc {
    margin: 0;
    font-size: 0.9rem;
}

.main-area-nav-part ul li:nth-child(1):before {
    border-bottom: solid 4px #ffa429;
}

.name-title::after {
    content: "\1F44B";
    margin-left: 1rem;
}

.activity {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.timeline-container {
    overflow-y: scroll;
    height: 450px;
}

.timeline-container::-webkit-scrollbar {
    width: 20px;
}

.timeline-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.timeline-container::-webkit-scrollbar-thumb {
    background-color: #ffa429;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.timeline-container::-webkit-scrollbar-thumb:hover {
    background-color: #ffa429;
}

.timeline {
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding: 1rem 2rem 2rem 2rem;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #C1C1C1;
    top: 0;
    bottom: 0;
    top: 2rem;
    bottom: 2rem;
}

.tnitem {
    padding-left: 20px;
}

.tnitem::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #59a8f1;
    position: absolute;
    left: 9%;
    z-index: 1;
}

.tnitem:nth-child(3n+1)::before {
    background: #59a8f1;
}

.tnitem:nth-child(3n+2)::before {
    background: #ffae23;
}

.tnitem:nth-child(3n+3)::before {
    background: #2ce169;
}

.main-area-nav-part-attribute:hover {
    border-bottom: solid #ffa42a 2px;
}

.notification-round {
    width: 0.3rem;
    height: 0.3rem;
    background-color: #ffa42a;
    border-radius: 50%;
    border-color: white;
    border: white solid 2px;
    position: absolute;
    right: 2px;
    top: 5px;
}

.notification {
    position: relative;
}

.camera-container {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    color: white;
    background-color: rgba(252, 252, 252, 0.2);
    padding: 0.4rem;
}

.card-left::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #C1C1C1;
    top: 1rem;
    bottom: 1rem;
    right: 0;
}

.point-heading {
    font-family: 'Roboto';
    font-weight: 400;
}

.poin-desc {
    font-family: 'Roboto';
    font-weight: 300;
}